<article class="card" th:fragment="card">
    <div class="container-carousel">
        <div class="carruseles" id="slider">
            <div class="slider-section">
                <img src="img/1.jpg">
            </div>
            <div class="slider-section">
                <img src="img/2.jpg">
            </div>
            <div class="slider-section">
                <img src="img/3.jpg">
            </div>
            <div class="btn-left"><i class='bx bx-chevron-left'></i></div>
            <div class="btn-right"><i class='bx bx-chevron-right'></i></div>
        </div>
    </div>

    <h3 class="title"> zona, Pais </h3>
    <p class="desc">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid doloribus totam laboriosam reiciendis.
    </p>
    <p class="title price">
        $250
    </p>
    <a class="btn-more" href="/">
        Saber más ...
    </a>


    <!--Links-->    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/stylesE.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <script src="/src/main/resources/static/js/cards.js"></script>
</article>