@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
    --fuente: "Nunito", sans-serif;
    --colorUno: rgba(0, 0, 0, 1);
    /*color fuente*/
    --colorDos: rgba(255, 255, 255, 1);
    /*color blanco*/
    --colorTres: rgba(121, 164, 140, 0.897);
    /*color hover*/
    --colorCuatro: rgba(180, 123, 52, 1);
    /*color bordes*/
    --colorCinco: rgba(217, 217, 217, 1);
    /*gris claro*/
    --colorSeis: rgba(33, 33, 39, 1);
    /*gris oscuro*/
    --colorError: #fe6960;
    /*rojo pastel*/
    --colorExito: #affbff;
    /*verde pastel*/
    --colorVerde: #056F2D;
    --colorBlanco: #7E7979;
    --colorLink: #0064FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Para que las cajas no les afecte el padding,modifiquen su tamaño y queden una bajo la otra*/
    list-style: none;
    /*quitar estilos xDefault a las listas*/
    text-decoration: none;
    /*quitar estilos xDefault a los links*/
}

/**Globales**/
html {
    height: 100%;
}

body {
    font-family: var(--fuente);
    font-size: 62.5%;
    /*1rem = 10px*/
    background-color: var(--colorCinco);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    line-height: 1.1;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-weight: 400;
    font-size: 1rem;

}

a {
    text-decoration: none;
    color: var(--colorLink);
    font-family: var(--fuente);
    font-weight: bold;
}

a:hover {
    color: var(--colorVerde);
    text-decoration: underline;
}

button {
    color: var(--colorDos);
    background-color: var(--colorDos);
    border-radius: 10px;
    transition: 0.2s;
    border: 1px solid var(--colorCinco);
}

button:hover {
    border-color: var(--colorCinco);
    transform: scale(1.1);
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

/**Header**/
header {
    width: 100%;
    height: 100px;
    background-color: var(--colorSeis);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.logos-container{
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.logo:hover {
    animation: rotate624 0.7s ease-in-out both;
}

.logotipo {
    width: 20em;
}

@media screen and (max-width: 1200px) {
    .logotipo{
        display: none;
    }
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

/*Motor-busqueda + btn navbar*/
.search-bar {
    width: 100%;
    max-width: 350px;
    height: 35px;
    background-color: var(--colorDos);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    border: 1px solid var(--colorCinco);
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 1rem;
    color: var(--colorUno);
}

::placeholder {
    color: var(--colorCinco);
}

.search-bar button img {
    width: 15px;
}

.search-bar button {
    padding: 5px;
    border: 0;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: var(--colorSeis);
    cursor: pointer;
}

.menu-container {
    background-color: var(--colorSeis);
    width: 300px;
    padding: 10px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.menu-container button {
    width: 100%;
    padding: 5px 10px;
    margin: 10px;
    background-color: var(--colorDos);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.menu-container button .btn-icon1 {
    margin-left: 30px;
}

.menu-container button .btn-icon2 {
    margin-left: -30px;
}

nav .line {
    width: 5px;
    height: 32px;
    margin: 3px;
    border-radius: 10px;
    background-color: var(--colorCinco);
}

.menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    width: 80%;
    background-color: var(--colorDos);
    border: 1px solid var(--colorCinco);
    border-radius: 10px;
}

.menu-container ul li {
    display: block;
}

.menu-container ul li a {
    text-decoration: none;
    color: var(--colorUno);
    padding: 10px;
    display: block;
    font-size: 20px;
    width: 100%;
}

.menu-container ul li a:hover {
    border-radius: 10px;
    background-color: var(--colorTres);
    color: var(--colorDos);
}

@media (max-width: 600px) {
    .search-bar {
        display: none;
    }

    .logo {
        width: 60px;
    }

    .menu-container {
        width: 100%;
    }

    .menu-container button {
        margin: 5px 0;
    }

    .menu-container ul {
        width: 100%;
    }
}

/**MAIN**/
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten a la fila */
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.card {
    flex: 0 0 calc(25% - 20px);
    /* Calcula el ancho para 4 cartas por fila con un espacio entre ellas */
    margin: 10px;
    min-height: 100%;
    box-sizing: border-box;
    background: var(--colorDos);
    border: 1px solid var(--colorCinco);
    padding: 0.4em;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 100%;
}

@media (max-width: 600px) {
    main {
        justify-content: center;
        /* Centra las cartas en lugar de distribuirlas */
    }

    .card {
        flex: 0 0 calc(100% - 20px);
        /* Ancho completo para una sola columna en pantallas pequeñas */
    }

}

.container-carousel {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 3);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: var(--colorSeis);
    transform: translate(0, -50%);
    transition: 0.5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: var(--colorSeis);
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.btn-alq {
    right: 180px;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: "Nunito";
    color: #000;
    border: none;

    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #fff;
    cursor: pointer;
}

.btn-alq::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #88E6CE 0%, #8DE5F6 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
    color: #FFFFFF;
}

.btn-alq:hover::before {
    width: 9em;
    color: #FFFFFF;
}

.cards h3 {
    display: flex;
}

.title {
    margin: 2px;
    padding: 10px 7px 0;
}

.stars {
    fill: #d9d9d9;
}

.line-cards {
    height: 1px;
    flex: 1 1 0%;
    background-color: var(--colorCinco);
}

.desc,
.desc-right {
    color: var(--colorUno);
    padding: 7px;
    font-size: 1rem;
}

.desc-right {
    width: 50%;
    left: 10px;
}

.price {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
}

.btn-more {
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--colorUno);
    text-decoration: none;
    transition: 0.4s ease all;
    z-index: 1;
}

.btn-more a {
    width: 100%;
    margin: 0;
}

.card button:hover {
    background-color: var(--colorTres);
}

/**Footer**/
.footer {
    margin-top: auto;
    background-color: var(--colorSeis);
    color: var(--colorDos);
    padding: 50px 0;
    text-align: center;
    font-size: 14px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: var(--colorDos);
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: var(--colorTres);
}

.footer-social a,
.social-icons {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: var(--colorDos);
    transition: color 0.3s ease-in-out;
}

.footer-social a:hover,
.social-icons a:hover {
    transform: scale(1.1);
}

.footer-social svg,
.social-icons svg {
    font-size: inherit;
    fill: var(--colorCinco);
}

.footer,
.footer-links,
.footer-social {
    cursor: pointer;
}

/**LOGIN + REGISTROS**/
.form-container {
    margin: 50px;
    width: 320px;
    border-radius: 0.75rem;
    background-color: var(--colorSeis);
    padding: 2rem;
    color: var(--colorDos);
}

.title-login {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid var(--colorCinco);
    outline: 0;
    background-color: var(--colorDos);
    padding: 0.75rem 1rem;
}

.input-group input:focus {
    border-color: var(--colorCuatro);
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
    display: block;
    width: 100%;
    background-color: var(--colorCinco);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor: pointer;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line-login {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: -4px;
}

.social-icons i {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}

.social-icons .icon i {
    height: 1.25rem;
    width: 1.25rem;
    fill: var(--colorDos);
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--colorDos);
}

.signup:hover {
    color: var(--colorTres);
}

@media (max-width: 600px) {
    main {
        justify-content: center;
    }

    .form-container {
        width: 100%;
        margin: 25px 0px 25px 0px;
    }
}

.register {
    margin-top: 1rem;
}

.save {
    margin: 25px 0px 25px 0px;
}

.textarea {
    width: 100%;
}

/**LISTAS**/
.property-list-container,
.property-list-container-left {
    margin: 25px 0px 25px 0px;
}

.property-list-container-left {
    left: 10px;
}

.property-table {
    border-collapse: collapse;
    width: 100%;
}

.property-table th,
.property-table td {
    border: 1px solid var(--colorCinco);
    padding: 5px;
    text-align: center;
}

.property-table th {
    background-color: var(--colorDos);
}

.td-special {
    display: flex;
}

/*PAGINA DE POST MODIFICACIONES*/
.column-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.column {
    
    padding: 20px;
    border: 1px solid #ddd;
    width: 60%;
}

.column2-div{
    display: block;
    margin-block: 2em;
}

.opiniones{
    margin-left: 2em;
}

/**PERFIL USUARIO**/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 120%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#b5ddc7, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 10rem;
    background-image: linear-gradient(45deg, #b5ddc7, rgb(139, 207, 224));
    border-radius: 0 0 20px 20px;

    /*

 ------PARA COLOCAR LA IMAGEN DE FONDO  EN LA PORTADA-------
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 90%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .title {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .desc {
    font-size: 1.5rem;

}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.lista-datos {
    width: 100%;
    margin-bottom: 5px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
    margin-block: 1em;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li p {
    display: inline;
    color: black;
    font-size: 0.8rem;
    margin-left: 1rem;
    font-family: "Nunito";
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}


.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 100%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }


    /* 
    ---SI SE VA A USAR--- 
    SI USAMOS LOS BTNS DE REDES SOCIALES
    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }  */
}

/*mensajes de error exito*/
/* Estilos para alertas de éxito */
.alert-success {
    border-radius: 10px;
    font-family: var(--fuente);
    background-color: var(--colorExito);
    /* Fondo verde claro */
    color: var(--colorUno);
    /* Texto verde oscuro */
    padding: 15px;
    /* Espaciado interno */
    margin-bottom: 15px;
    /* Margen inferior */
}

/* Estilos para alertas de error */
.alert-danger {
    border-radius: 10px;
    font-family: var(--fuente);
    background-color: var(--colorError);
    /* Fondo rojo claro */
    color: var(--colorUno);
    /* Texto rojo oscuro */
    padding: 15px;
    /* Espaciado interno */
    margin-bottom: 15px;
    /* Margen inferior */
}

/*Vista propiedades Usuario*/
.properties {
    margin: 50px;
    width: 520px;
    border-radius: 0.75rem;
    background-color: var(--colorSeis);
    padding: 2rem;
    color: var(--colorBlanco);
}

/*vista pesonalizada de Error*/
.container-body {
    color: var(--colorSeis);
    margin-top: 6rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.container-body p {
    margin-top: 2rem;
    font-size: 1.75rem;
    font-style: italic
}

/*Estilo icons post html*/
.material-symbols-outlined {
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}