<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buscador de Propiedades</title>
    </head>
    <body>
        <h1>Buscador de Propiedades</h1>

        <!-- Formulario de Filtros -->
        <form id="searchForm">
            <label for="tipo">Tipo de Propiedad:</label>
            <select id="tipo" name="tipo">
 
            </select>

            <label for="ubicacion">Ubicación:</label>
            <input type="text" id="ubicacion" name="ubicacion">

            <label for="precioDia">Precio:</label>
            <input type="range" id="precioDia" name="precioDia">

            <label>
                <input type="checkbox" name="wifi"> Wifi
            </label>
            <label>
                <input type="checkbox" name="pileta"> Pileta
            </label>
            <label>
                <input type="checkbox" name="parrilla"> Parrilla
            </label>

            <!-- Agrega más filtros según sea necesario -->

            <button type="button" onclick="buscarPropiedades()">Buscar</button>
        </form>

       
        <div id="resultados">
            <!-- Aquí se mostrarán las propiedades filtradas -->
        </div>

        <script src="script.js"></script>
    </body>
</html>