<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Lista de Propiedades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <h2>Lista de Propiedades:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Detalles</th>
                    <th>Ubicación</th>
                    <th>tamaño</th>
                    <th>disponibilidad</th>
                    <th>wifi</th>
                    <th>pileta</th>
                    <th>parrilla</th>
                    <th>accesorios</th>
                    <th>cama</th>
                    <th>aire</th>
                    <th>Acciones:</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="propiedad : ${propiedades}">
                    <td th:text="${propiedad.id}"></td>
                    <td th:text="${propiedad.tipo}"></td>
                    <td th:text="${propiedad.detalles}"></td>
                    <td th:text="${propiedad.ubicacion}"></td>
                    <td th:text="${propiedad.tamanio}"></td>
                    <td th:text="${propiedad.disponibilidad}"></td>
                    <td th:text="${propiedad.wifi}"></td>
                    <td th:text="${propiedad.pileta}"></td>
                    <td th:text="${propiedad.parrilla}"></td>
                    <td th:text="${propiedad.accesorios}"></td>
                    <td th:text="${propiedad.cama}"></td>
                    <td th:text="${propiedad.aire}"></td>
                    <td><form th:action="@{/propiedad/eliminar/{id}(id=${propiedad.id})}" method="POST">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit">Eliminar</button>
                        </form>
                        <a href="url">Modificar</a></td>
                </tr>
                
            </tbody>
        </table>

    </body>
</html>
