<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Lista de Propiedades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <h2>Lista de Propiedades:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Detalles</th>
                    <th>Ubicación</th>
                    <th>tamaño</th>
                    <th>disponibilidad</th>
                    <th>wifi</th>
                    <th>pileta</th>
                    <th>parrilla</th>
                    <th>accesorios</th>
                    <th>cama</th>
                    <th>aire</th>
                    <th>Acciones:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
            </tbody>
        </table>

    </body>
</html>
