<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
        <title>Ver Propiedad</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>

    <body>
        <header th:replace="/fragments/header :: header"></header>
        <!-- titulo, vendedor, Imagen, tabla -->

        <div class="column-container">
            <div class="column">
                <div class="container-carousel">
                    <div class="carruseles" id="slider">
                        <div class="slider-section">
                            <img th:if="${propiedad.imagenes != null and propiedad.imagenes.size() >0}" th:src="@{/imagen/vista/{id}(id=${propiedad.imagenes[0].id})}" alt="Imagen 1">
                            <img th:unless="${propiedad.imagenes != null and propiedad.imagenes.size() > 0}" src="/img/1.jpg" alt="Foto predefinida1">
                        </div>
                        <div class="slider-section">
                            <img th:if="${propiedad.imagenes != null and propiedad.imagenes.size() >= 2}" th:src="@{/imagen/vista/{id}(id=${propiedad.imagenes[1].id})}" alt="Imagen 2">
                            <img th:unless="${propiedad.imagenes != null and propiedad.imagenes.size() >= 2}" src="/img/2.jpg" alt="Foto predefinida2">
                        </div>
                        <div class="slider-section">
                            <img th:if="${propiedad.imagenes != null and propiedad.imagenes.size() >= 3}" th:src="@{/imagen/vista/{id}(id=${propiedad.imagenes[2].id})}" alt="Imagen 3">
                            <img th:unless="${propiedad.imagenes != null and propiedad.imagenes.size() >= 3}" src="/img/3.jpg" alt="Foto predefinida3">
                        </div>
                        <div class="btn-left"><i class='bx bx-chevron-left'></i></div>
                        <div class="btn-right"><i class='bx bx-chevron-right'></i></div>
                    </div>
                </div>

                <div>
                    <h3 class="title">Servicios:</h3>
                    <div class="service-container">
                        <span th:if="${propiedad.cama}" class="material-symbols-outlined" title="cama">
                            bed
                        </span>
                        <span th:if="${propiedad.wifi}" class="material-symbols-outlined" title="wifi">
                            wifi
                        </span>
                        <span th:if="${propiedad.parrilla}" class="material-symbols-outlined" title="parrilla">
                            outdoor_grill
                        </span>
                        <span th:if="${propiedad.accesorios}" class="material-symbols-outlined" title="accesorios">
                            kitchen
                        </span>
                        <span th:if="${propiedad.pileta}" class="material-symbols-outlined" title="pileta">
                            pool
                        </span>
                    </div>
                </div>
            </div>


            <!-- prox disp, calendario, direccion, descripcion -->
            <div class="column">
                <div class="column2-div">
                    <h1>Publicación de </h1>
                    <h2 th:text="${vendedor.nombre} + ' ' + ${vendedor.apellido}"></h2>
                </div>
                <div class="column2-div">
                    <h3 th:text="${propiedad.ubicacion}"></h3>
                </div>
                <div sec:authorize="hasRole('CLIENTE')" class="column2-div">
                    <a
                        th:href="@{/reserva/registrar/{id} (id=${propiedad.id})}"><button class="btn-alq">RESERVAR</button></a>
                </div>
                <div class="column2-div">
                    <h2>Descripción</h2>
                    <p class="desc-right" th:text="${propiedad.detalles}">
                </div>
            </div>
        </div>

        <!-- Input name opinion, boton submit, th:each para objeto reseña(modelar) -->

    </div>
    <div class="opiniones">
        <h2>Opiniones: </h2>
        <div class="opinion-container"  th:each="resena : ${resenas}">
            <div class="rating">
                <!-- Lógica para mostrar estrellas según la calificación -->
                <span th:each="i : ${#numbers.sequence(1, resena.calificacion)}" class="star-comments">&#9733;</span>
            </div>
            <div class="datas">
                <div class="name"><h4 th:text="${resena.usuario.nombre} +' ' + ${resena.usuario.apellido}"></h4></div>
            </div>
            <div class="opinion">
                <h4 th:text="${resena.fechaComentario}"></h4>
                <p th:text="${resena.comentario}"></p>
            </div>
        </div>
    </div>



    <footer th:replace="/fragments/footer :: footer"></footer>
    <script src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/44131d1b22.js" crossorigin="anonymous"></script>
</body>

</html>