<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" th:href="@{/img/icon.png}" type="image/png">
        <title>QuinchoCLubApp</title>
        <meta name="description" content="App de alquileres de verano">

        <!-- CSS -->
        <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    </head>

    <body>

        <header th:replace="/fragments/header :: header"></header>
        
        <main class="principal">
        <div class="form-container">
            <p class="title-login">Datos de tu propiedad</p>
            <form th:action="@{/propiedad/registrar}" method="POST" class="form">
                <div class="input-group">
                    <label for="tipo">Tipo:</label>
                    <select id="tipo" name="tipo">
                        <option value="casa">Casa</option>
                        <option value="quinta">Quinta</option>
                        <option value="salon-de-eventos">Salon de eventos</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="detalles">Detalles:</label>
                    <textarea class="textarea" id="detalles" name="detalles" rows="5" cols="10"></textarea>
                </div>
                <div class="input-group">
                    <label for="ubicacion">Ubicación:</label>
                    <select id="ubicacion" name="ubicacion" >
                        <option value="argentina">Argentina</option>
                        <option value="chile">Chile</option>
                        <option value="brasil">Brasil</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="tamanio">Tamaño:</label>
                    <input id="tamanio" name="tamanio" type="number">
                </div>
                <div class="input-group">
                    <label for="disponibilidad">Disponibilidad:</label>
                    <input id="disponibilidad" name="disponibilidad" type="date">
                </div>
                <div class="input-group">
                    <label>Servicios:</label>
                    <div class="checkbox-group">
                        <label for="wifi">Wifi</label>
                        <input id="wifi" name="wifi" type="checkbox">
                    </div>
                    <div class="checkbox-group">
                        <label for="pileta">Pileta</label>
                        <input id="pileta" name="pileta" type="checkbox">
                    </div>
                    <div class="checkbox-group">
                        <label for="parrilla">Parrilla</label>
                        <input id="parrilla" name="parrilla" type="checkbox">
                    </div>
                    <div class="checkbox-group">
                        <label for="accesorios">Accesorios</label>
                        <input id="accesorios" name="accesorios" type="checkbox">
                    </div>
                    <div class="checkbox-group">
                        <label for="cama">Cama</label>
                        <input id="cama" name="cama" type="checkbox">
                    </div>
                    <div class="checkbox-group">
                        <label for="aire-acondicionado">Aire acondicionado</label>
                        <input id="aire-acondicionado" name="aire" type="checkbox">
                    </div>
                </div>
                <button class="sign save">Guardar</button>
            </form>
            <!-- <p class="signup">¿Ya tienes una cuenta? <a th:href="@{/usuario/login}">Inicia sesión</a></p> -->
        </div>
    </main>
        
        <footer th:replace="/fragments/footer :: footer"></footer>

        <script src="/js/script.js"></script>
        <script src="https://kit.fontawesome.com/44131d1b22.js" crossorigin="anonymous"></script>
    </body>
</html>
