<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/QuinchoClub/src/main/resources/statik/loginstyles.css">
</head>
<body>
  <header>
    <a href="/QuinchoClub/src/main/resources/templates/index.html">
      <img src="/QuinchoClub/src/main/resources/img/QClogo.png" alt="Logo" class="logo">
  </a>
</header>
    <div class="center">
      <div class="card" id="register">
        <div class="card-header">
          <div class="text-header">Register</div>
        </div>
        <div class="card-body">
          <form action="#">
            <div class="form-group">
              <label for="username">Username:</label>
              <input required="" class="form-control" name="username" id="username" type="text">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input required="" class="form-control" name="email" id="email" type="email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input required="" class="form-control" name="password" id="password" type="password">
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password:</label>
              <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
            </div>
           <input type="submit" class="btn" value="SUBMIT">    </form>

           <p> ¿Ya tienes una cuenta? <a href="login.html">Inicia sesión.</a></p>
        </div>
      </div>
    </div>
</body>
</html>